absl-py==0.9.0
backports.lzma==0.0.14
bleach==1.5.0
certifi==2021.5.30
charset-normalizer==2.0.6
dataclasses==0.8
docopt==0.6.2
hdfs==2.1.0
html5lib==0.9999999
idna==3.2
importlib-metadata==4.6.3
joblib==0.14.1
Markdown==3.2.2
numpy==1.19.4
pandas==1.0.3
protobuf==3.13.0
py4j==0.10.9
PyMySQL==1.0.2
pyspark==3.0.0
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.26.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.16.0
sklearn==0.0
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
thrift==0.13.0
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
zipp==3.5.0
setuptools==40.6.2
wheel==0.34.2